<%- include('../partials/header') %>
  <h1>
    <%= title %>
  </h1>

  <% function displayAnime(start, end) {%>
    <div class="row">
      <% for(let i=start; i < end; i ++){ %>
        <div class="card anime-card col s3">
          <a href="/anime/<%=anime[i].id%>">
            <div class="anime-image card-image waves-effect waves-block waves-light">
              <img src=<%=anime[i].attributes.posterImage.small %> >
            </div>
            <div class="card-content">
              <i class="material-icons small">info_outline</i>
            </div>
          </a>
        </div>
        <% } %>
    </div>
    <% }%>

      <div class="container center-align">
        <div class="row">
          <div class="col s12">
            <%- include('../partials/search') %>
          </div>
        </div>

        <%= displayAnime(0,4) %>

      </div>