<%- include('../partials/header') %>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card profile">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" alt="user background" src="https://coverfiles.alphacoders.com/108/108298.png">
          </div>
          <div class="row user-row">
            <div class="col s3">
              <img src='<%=user.avatar %>' alt="Profile Image" class="avatar activator">
            </div>
            <div class="col s3">
              <a href="#">
                <i class="material-icons">mail_outline</i>
              </a>
            </div>
            <div class="col s3">
              <a href="/watchlist/<%=user.id%>">
                <i class="material-icons">tv</i>
              </a>
            </div>
          </div>
          <div class="card-reveal">
            <div class="row">
              <span class="card-title"><i class="material-icons right">close</i></span>
            </div>
            <p class="flow-text">
              <%= user.name %>
            </p>
            <p class="flow-text">
              <%= user.email %>
            </p>
            <div class="col s6 offset-s3">
              <form action="/users/<%=user._id%>/?_method=PUT" method="POST">
                <input class="center-align" type="text" autocomplete="off" name="nickname" placeholder=<%=user.nickname?
                  user.nickname : 'nickname' %> >
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col s12">
        <div class="card">
          <h5>Favorite Anime</h5>
          <div class="carousel favorites">
            <% if (anime) { %>
              <% anime.forEach(a=> { %>
                <a class="carousel-item" href="/anime/<%= a.kitsuId %> "><img src="<%=a.imageUrl%> "></a>
                <% }) %>
                  <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>